@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
    font-family: 'Edu NSW ACT Foundation', cursive;
}

body{
    background-color: black;
    font-size: 22px;
}

nav{
    text-align: center;
    font-size: 30px;
    word-spacing: 300px;
    background-color: lightskyblue;
    border-color: black;
}
a:link {
    color: black
}

a:visited {
    color: black;
    text-decoration: none;
    background-color: lightskyblue;
}

a:focus {
    color: lightskyblue
}

a:hover {
    color: lightskyblue
}

a:active {
    color: lightskyblue
}

h1 {
    text-align: center;
    color: lightskyblue;
}

p {
    text-align: center;
    color: lightskyblue;
}

li {
    text-align: center;
    color: lightskyblue;
}

div {
    text-align: justify;
    color: lightskyblue;
}

ul {
    text-align: center;
}
